* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Biryani', sans-serif;
}

body {
  background-color: #f5f5f5;
}

nav {
  position: absolute;
  width: 75px;
  height: 100vh;
  top: 0;
  background-color: #fff;
}

nav ul {
  margin-top: 25vh;
}

nav li {
  width: 100%;
  margin: auto;
  padding: 5px 15px;
  border: solid 3px #fff;
}

nav li:hover {
  border-left: solid 3px #8ED1DC;
}

main {
  margin-left: 100px;
}

h1 {
  margin: 25px 20px 10px 20px;
  font-size: 30px;
}

h2, button {
  display: inline-block;
}

button {
  border-radius: 15px;
  border: none;
  padding: 8px 25px 5px 25px;
  background-color: #1CA3BA;
  color: #fff;
}

main button {
  width: 210px;
  float: right;
  font-size: 14px;
}

#logo {
  width: 65px;
  margin-left: 8px;
  padding-top: 15px;
}

#user-summary {
  width: 575px;
  float: left;
  margin-left: 20px;
}

#welcome-banner {
  position: relative;
  border-radius: 2.5px;
  height: 100px;
  background: linear-gradient(to right, #8ED1DC, #E3F4F6);
}

#welcome-banner h3 {
  padding-left: 20px;
  padding-top: 35px;
}

#user-dashboard {
  margin-top: 15px;
}

.dashboard-column {
  box-shadow: 1px 1px 1px #e4e4e4;
  display: inline-block;
  width: 160px;
  height: 90px;
  background-color: #fff;
  margin-right: 40px;
  border-radius: 2.5px;
}

.dashboard-column p {
  font-size: 20px;
}

#right-column {
  float: right;
  margin-right: 0;
}

.dashboard-row {
  box-shadow: 1px 1px 1px #e4e4e4;
  height: 60px;
  margin-bottom: 15px;
  background-color: #fff;
}

.dashboard-row img {
  width: 30px;
  display: inline-block;
  float: left;
  height: 100%;
  margin-left: 20px;
}

.dashboard-row p {
  display: inline-block;
  height: 100%;
}

.right-col {
  float: right;
  margin-right: 25px;
  margin-left: 190px;
  display: inline;
  width: 100px;
}

.account-name {
  margin-left: 70px;
}

#transactions {
  box-shadow: 1px 1px 1px #e4e4e4;
  border-radius: 5px;
  float: right;
  margin-right: 90px;
  width: 550px;
  background-color: #fff;
}

#transactions button {
  margin: 25px 30px 0px 50px;
}

#transactions h2 {
  margin-top: 25px;
  margin-left: 20px;
}

#accounts-dashboard {
  margin-top: 40px;
}

table {
  width: 90%;
  margin: 20px;
  font-size: 18px;
  border-collapse: collapse;
}

th {
  text-align: left;
}

td {
  border-bottom: solid 1px grey;
  padding-bottom: 5px;
  padding-top: 5px;
}

#user-summary h5 {
  padding-left: 15px;
  padding-top: 20px;
  font-size: 10px;
}

#user-summary p {
  padding-top: 20px;
}

#user-dashboard p {
  padding-left: 10px;
  padding-top: 5px;
}

#user-dashboard h5 {
  padding-left: 10px;
  padding-top: 20px;
}

#accounts-dashboard h2 {
  line-height: 1;
  margin-bottom: 30px;
  padding-top: 7.5px;
}

#closeButton {
  position: absolute;
  right: 0;
  padding-right: 10px;
  font-size: 25px;
  color: grey;
}

#full-transactions {
  display: none;
  margin-left: 100px;
  height: 100vh;
}

#full-transactions h1 {
  display: inline-block;
  margin-left: 0px;
}

.transactions-top button {
  width: 100px;
  font-size: 10px;
  float: right;
  margin-top: 35px;
  margin-right: 10px;
}

.transactions-top {
  width: 600px;
  margin-left: 25px;
}

#transactions-list {
  border-radius: 2.5px;
  box-shadow: 1px 1px 1px #e4e4e4;
  background-color: #fff;
  width: 600px;
  float: left;
  margin-left: 25px;
  overflow: scroll;
  display: inline-block;
  height: 550px;
}

#transactions-form {
  border-radius: 2.5px;
  box-shadow: 1px 1px 1px #e4e4e4;
  width: 500px;
  background-color: white;
  float: right;
  margin-right: 100px;
  height: 550px;
}

#transactions-form option, select, input, label {
  display: block;
  width: 400px;
  margin-left: 50px;
}

#transactions-form select, option {
  margin-bottom: 15px;
}

#transactions-form select, option, input {
  box-shadow: 1px 1px 1px #e4e4e4;
  border: solid 0.5px #e4e4e4;
  font-size: 12px;
}

#transactions-form button {
  float: left;
  margin-left: 50px;
  margin-top: 20px;
  font-size: 15px;
  border-radius: 20px;
}

#transactions-form-label {
  display: block;
  margin-top: 40px;
  text-align: center;
}

.inactive-button {
  background-color: #fff;
  color: #1CA3BA;
  border: solid 1px #1CA3BA;
}
